PORT=5000
MONGO_URI=mongodb://vanshikaahuja012_db_user:vanshika123@ac-8lwf6iu-shard-00-00.qt58vqu.mongodb.net:27017,ac-8lwf6iu-shard-00-01.qt58vqu.mongodb.net:27017,ac-8lwf6iu-shard-00-02.qt58vqu.mongodb.net:27017/?ssl=true&replicaSet=atlas-1xavxm-shard-0&authSource=admin&appName=Cluster0