@tailwind base;
@tailwind components;
@tailwind utilities;


body{

font-family:
Inter,
Arial,
sans-serif;

background:#f8fafc;

}



.dark body{

background:#020617;

}



button{

cursor:pointer;

}
